
*{
    margin: 0px;
    padding: 0px;
}
#childcontent3{
    border: 2px solid white;
   justify-items: end;
   position: absolute;
    /* margin: 16px 0px 0px 7px; */
    /* width: 50%; */
    margin-left: 820px;
    margin-top: 88px;
}
#childcontent3  .head1{
    font-size: 30px;
    padding: 10px;
}
